/*侧边栏背景色*/
#viewport11 {
  background-color: #f2f2f2;
}

/*侧边栏上按钮字体色*/
#viewport11 button {
  color: #074ca6;
}

#hbox_title label {
  background-color: #f2f2f2;
}

#shortcut_treeview.view header button {
  min-height: 35px;
  background-color: #f2f2f2;
}

#default_app_scroll_window {
  border-width: 0px;
}
