[Desktop Entry]
Name=UKUI Control Center
Name[zh_CN]=控制面板
Name[zh_HK]=控制面板
Name[zh_TW]=控制面板
Name[tr]=Denetim Merkezi
Comment=UKUI控制面板
Comment[tr]=UKUI Kontrol Merkezi
Icon=ukui-control-center
Exec=ukui-control-center
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Settings;
OnlyShowIn=UKUI;
Keywords=UKUI;control;center;configuration;tool;destop;preferences;
