[Desktop Entry]
Name=Control Center
Name[zh_CN]=控制面板
Name[zh_HK]=控制面板
Name[zh_TW]=控制面板
Comment=麒麟控制面板
Icon=applications-system
Exec=ukui-control-center
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
Categories=GTK;Settings;
Keywords=MATE;control;center;configuration;tool;destop;preferences;
