<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>KYLINOS</vendor>
  <vendor_url>http://www.kylinos.cn</vendor_url>
  <icon_name>ues</icon_name>

  <action id="org.control.center.qt.systemdbus.action">
    <description>UserInfo</description>
    <description xml:lang="zh">账户信息</description>
    <message>To change the user pwd, you need to authenticate.</message>
    <message>需要通过管理员认证后才可以修改用户密码</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="org.control.center.qt.systemdbus.action.login">
    <description>login without password</description>
    <description xml:lang="zh">免密登录</description>
    <message>Change login without password, you need to authenticate.</message>
    <message xml:lang="zh">修改免密登录需要认证</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="org.control.center.qt.systemdbus.action.autologin">
    <description>auto login</description>
    <description xml:lang="zh">自动登录</description>
    <message>Change auto login, you need to authenticate.</message>
    <message xml:lang="zh">修改自动登录需要认证</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="org.control.center.qt.systemdbus.action.passwdaging">
    <description>passwd aging</description>
    <description xml:lang="zh">密码老化时间</description>
    <message>Change passwd aging, you need to authenticate.</message>
    <message xml:lang="zh">修改密码老化时间需要认证</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>
