<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>KYLINOS</vendor>
  <vendor_url>http://www.kylinos.cn</vendor_url>
  <icon_name>ues</icon_name>

  <action id="org.ukui.groupmanager.action.add">
    <description>group tools</description>
    <description xml:lang="zh">用户组</description>
    <message>To add the group, you need to authenticate.</message>
    <message xml:lang="zh">添加用户组需要认证</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="org.ukui.groupmanager.action.edit">
    <description>group tools</description>
    <description xml:lang="zh">用户组</description>
    <message>To edit the group, you need to authenticate.</message>
    <message xml:lang="zh">修改用户组需要认证</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="org.ukui.groupmanager.action.del">
    <description>group tools</description>
    <description xml:lang="zh">用户组</description>
    <message>To delete the group, you need to authenticate.</message>
    <message xml:lang="zh">删除用户组需要认证</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>
