/*首页模块标题label*/
QLabel#systemTitle, #devicesTitle, #personalizedTitle, #networkTitle, #accountTitle,
#time_lanTitle, #security_updatesTitle, #messages_taskTitle{
font-size:18px;
}
/*模块标题label*/
QLabel#titleLabel {
font-size:18px;
}
/*首页点击label*/
CustdomLabel{
font-size:14px; color: #3f6cb9;
}
/*通用label*/
QLabel{
font-size:14px;
}
/*模块重置、跳转pushbutton*/
QPushButton#resetPushBtn {
font-size:14px; color: #3f6cb9;
}
/*通用radiobutton*/
QRadioButton{
font-size:14px;
}
