Source: ukui-control-center
Section: x11
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: Aron Xu <aron@debian.org>,
           handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper (>= 12),
                libgsettings-qt-dev,
                libqt5svg5-dev,
                libglib2.0-dev,
                libmate-desktop-dev,
                libdbus-glib-1-dev,
                libqt5x11extras5-dev,
                libxklavier-dev,
                libmatekbd-dev
Standards-Version: 4.4.1
Rules-Requires-Root: no
Homepage: https://github.com/ukui/ukui-control-center
Vcs-Browser: https://github.com/ukui/ukui-control-center
Vcs-Git: https://github.com/ukui/ukui-control-center.git

Package: ukui-control-center
Architecture: any
Suggests: ukui-interface
Recommends: mate-control-center
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: utilities to configure the UKUI desktop
 The UKUI control center contains configuration applets for the UKUI desktop,
 allowing to set accessibility configuration, desktop fonts, keyboard
 and mouse properties, sound setup, desktop theme and background, user
 interface properties, screen resolution, and other UKUI parameters.
