Source: ukui-control-center
Section: x11
Priority: optional
Maintainer: Kylin Team <hebing@kylinos.cn>
Build-Depends: debhelper (>= 11),
               libqt5svg5-dev,
               libgsettings-qt-dev,
               libglib2.0-dev,
               libmatekbd-dev,
               libdbus-glib-1-dev,
               libdefaultprograms-dev,
               libkeyboardclient-dev,
               libqt5x11extras5-dev,
               libxklavier-dev
Standards-Version: 4.4.1
Homepage: https://github.com/ukui/ukui-control-center
#Vcs-Browser: https://salsa.debian.org/debian/ukui-control-center
#Vcs-Git: https://salsa.debian.org/debian/ukui-control-center.git

Package: ukui-control-center
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: utilities to configure the UKUI desktop
 The UKUI control center contains configuration applets for the UKUI desktop,
 allowing to set accessibility configuration, desktop fonts, keyboard
 and mouse properties, sound setup, desktop theme and background, user
 interface properties, screen resolution, and other UKUI parameters.
